* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    text-align: center;
    background-color: #fafafa;
    overflow-x: hidden;
}

.top-header .image-container {
    width: 100%;
    height: 580px;
    margin: 6px 0px;
    text-align: center;
    border-radius: 3px;
}

.top-header img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.top-header .movie-details {
    position: absolute;
    width: 100%;
    height: 98%;
    top: 5.8px;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.top-header .movie-details .detail-list {
    margin-top: 50%;
    opacity: 0.9;
}

.top-header .movie-details .detail-list .title {
    padding: 30px 0px;
    font-size: 25px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-weight: 600;
    font-weight: bold;
}

.top-header .movie-details .detail-list .imdb,
.top-header .movie-details .detail-list .genre {
    font-size: 14px;
}

.top-header .movie-details .detail-list .description {
    font-size: 12px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    padding: 8px;
    line-height: 18px;
}

.category-title h3 {
    float: left;
    margin-top: 50px;
    margin-left: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.cards .cards-content {
    margin: 50px 10px;
    float: left;
    width: 243px;
    height: 400px;
}

.cards img {
    width: 100%;
    height: 350px;
    box-shadow: -8px 8px 20px 2px #ccc;
    border-radius: 4px;
}

.cards img:hover {
    box-shadow: none;
}

.cards span {
    padding: 5px 20px;
    position: relative;
    top: 12px;
    background-color: #f1c40f;
    color: #fff;
    font-weight: 600;
    border-radius: 20px;
}

.cards h4 {
    float: left;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-transform: capitalize;
    width: 100%;
    text-align: left;
}

.cards p {
    float: left;
    text-align: left;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: #3498db;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-transform: capitalize;
}

.link a {
    margin-top: 20px;
    float: right;
    padding: 20px;
}

.link a:hover {
    text-decoration: none;
}

.newsletter {
    background: linear-gradient(to top right, #00953e, #00C853);
    width: 100%;
    height: 350px;
    margin-top: 120px;
    color: #fff;
    box-shadow: 0px 0px 5px #ccc;
}

.newsletter .top-container {
    margin-top: 50px;
    margin-bottom: 30px;
}

.newsletter .top-container .sub {
    font-size: 38px;
    margin: 0 40px;
}

.newsletter .top-container .plus {
    font-size: 10px;
    position: relative;
    top: -5px;
}

.newsletter h3 {
    font-size: 20px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

.newsletter p {
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

.newsletter form {
    margin: 0 auto;
    text-align: center;
}

.newsletter form .input-group {
    margin: 20px auto;
    width: 600px !important;
}

.newsletter form .input-group input,
.newsletter form .input-group button {
    border: none;
}

.newsletter form .fa {
    width: 50px !important;
}

.newsletter form .input-group input, .newsletter form .input-group button {
    height: 40px !important;
}

.footer-credit {
    margin-top: 50px;
}

.footer-credit .footer-container .confess p {
    padding: 20px;
    letter-spacing: 0.6px;
    word-spacing: 1px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}

.footer-credit .footer-container .confess span {
    font-size: 12px;
    padding: 0 10px;
}

.footer-credit .footer-container .footer-links ul {
    list-style-type: none;
    margin-right: 6px;
}

.footer-credit .footer-container .footer-links li {
    display: inline-block;
    margin-left: 15px;
    text-transform: capitalize;
}

.footer-credit .footer-container .footer-links a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

.footer-credit .footer-container .copy-claim {
    letter-spacing: 0.2px;
    word-spacing: 1px;
    font-weight: 600;
}

.dmca,
.disclaimer {
    margin-top: 150px;
}

.dmca h1,
.disclaimer h1 {
    font-family: "Poppins", sans-serif;
}

.dmca p,
.disclaimer p {
    padding: 20px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
}

.dmca span,
.disclaimer span {
    color: #2980b9;
}

.error {
    width: 100%;
    height: 630px;
}

.error img {
    width: 100%;
    height: 100%;
}

.video-js {
    width: 100%;
    height: 650px;
}

.vjs-poster {
    width: 100%;
}

.video-js .vjs-big-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vjs-modal-dialog .vjs-modal-dialog-content {
    padding: 80px 24px;
}

.table {
    margin-top: 50px;
}

th {
    text-align: center;
}

.stream-options a:hover {
    text-decoration: none;
}

.download-options a:hover {
    text-decoration: none;
}

.addthis_inline_share_toolbox {
    padding-top: 15px;
}

.movie-complete-details .details {
    margin-top: 100px;
}

.movie-complete-details .details #thumbnail img {
    width: 300px;
    height: 420px;
    border-radius: 3px;
    float: left;
}

.movie-complete-details .details .extra-detail-container,
.movie-complete-details .details .star,
.movie-complete-details .details h1 {
    text-align: left;
    margin-top: 20px;
    padding-left: 10px;
}

.movie-complete-details .details h2 {
    text-align: left;
    margin-top: 50px;
    font-size: 28px;
}

.movie-complete-details .details .star span {
    color: #f1c40f;
}

.movie-complete-details .details p {
    font-size: 14px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 22px;
}

.movie-complete-details .details .synopsis p {
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 22px;
}

.movie-complete-details .details .trailer {
    margin-top: 20px;
}

.movie-complete-details .details .comment-box {
    margin-top: 50px;
}

.contact {
    background-color: #f7f7f7;
}

.contact .top-image {
    width: 100%;
    height: 500px;
    background-image: url("../images/contact.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contact h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 90px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    color: #fff;
}

.contact .form-container {
    width: 50%;
    margin: 80px auto;
}

.contact form input {
    font-size: 15px;
}

.contact form span {
    width: 40px;
}

.contact form textarea {
    font-size: 14px;
    letter-spacing: 0.3px;
}

.ads {
    margin-top: 100px;
    height: 600px;
    width: 300px;
    margin-left: 20%;
}

#ad0,
#ad1 {
    height: 250px;
}



/*my css */
.w-100 {
    width: 100%!important;
    height: 500px;
}

#cap1 {
    position: relative;
    top: -185px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 6.5rem;
}

#cap2 {
    position: relative;
    top: -185px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 6.5rem;
}

#cap3 {
    position: relative;
    top: -185px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 6.5rem;
}

#cap4 {
    position: relative;
    top: -185px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 6.5rem;
}

#cap5 {
    position: relative;
    top: -185px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 6.5rem;
}

#cap6 {
    position: relative;
    top: -180px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}

#cap7 {
    position: relative;
    top: -175px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}

#cap8 {
    position: relative;
    top: -175px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}

#cap9 {
    position: relative;
    top: -180px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}

#cap10 {
    position: relative;
    top: -180px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}

#hollywood-id {
    padding: 5px 20px;
    background-color: #f1c40f;
    color: #fff;
    font-weight: 600;
    border-radius: 20px;
    font-size: 1.5rem;
    position: relative;
}

#bollywood-id {
    padding: 5px 20px;
    background-color: #f1c40f;
    color: #fff;
    font-weight: 600;
    border-radius: 20px;
    font-size: 1.5rem;
    position: relative;
}

#blog-h1 {
    position: relative;
    top: -327px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 6.5rem;
}

#blog-h5 {
    position: relative;
    top: -320px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}

#entertain-h1 {
    position: relative;
    top: -327px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 6.5rem;
}

#entertain-h5 {
    position: relative;
    top: -327px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}

#service-h1 {
    position: relative;
    top: -327px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 6.5rem;
}

#service-h5 {
    position: relative;
    top: -327px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
}

.stop{
    position: fixed;
    top:0;
}

#blo-id {
    padding: 5px 20px;
    background-color: #f1c40f;
    color: #fff;
    font-weight: 600;
    border-radius: 20px;
    font-size: 1.5rem;
    position: relative;
}

/*.service #overlay1,
  .service #overlay2,
  .service #overlay3,
  .service #overlay4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.8); }
  .service .service-container:hover #overlay1 {
    opacity: 1; }
  .service .service-container:hover #overlay2 {
    opacity: 1; }
  .service .service-container:hover #overlay3 {
    opacity: 1; }
  .service .service-container:hover #overlay4 {
    opacity: 1; }
  .service #text1,
  .service #text2,
  .service #text3,
  .service #text4 {
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }

    .displaydesk{
        display: inherit;
    }*/


/*Media Query*/

@media ( min-width: 320px) and (max-width: 640px){
     .card{
        width: 100% !important;
    }
    .cards .cards-content{
        width: 100% !important;
        float: none !important;
        height: none !important;
    }
    #hollywood-id{
        font-size: 14px !important;
    }
     #bollywood-id{
        font-size: 14px !important;
    }
    #blo-id{
        font-size: 14px !important;
    }
    .d-none{
        display: block !important;
    }
    #cap1, #cap2, #cap3, #cap4, #cap5 {
    position: relative;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;
    }
    #cap1{
        left: -28px !important;
    }

    #cap6, #cap7, #cap8, #cap9, #cap10 {
    position: relative;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
    }
    .ads-container{
        width: 100% !important;
        margin: 0 !important;
    }
     .post{
        padding: 15px 15px;
    }
    .post .container{
        position: initial !important;
        left: inherit !important;
        font-size: 16px !important;
        max-width: 100% !important;
    }
    .col-lg-9{
        width: 100% !important;
    }
    .post .container img{
        width: 100% !important;
    }
    .movie-complete-details .details #thumbnail img{
        width: inherit !important;
        height: initial !important;
    }

    #entertain-h1 {
    position: relative;
    top: -346px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    }

    #entertain-h5 {
    position: relative;
    top: -345px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
    }

    .blog-card {
        margin-top: 62px;
    }

    #service-h1 {
    position: relative;
    top: -327px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    }

    #service-h5 {
    position: relative;
    top: -327px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
    }

    #own-img {
        width: 100% !important;
    }

    #img-own {
        width: 100% !important;
    }

    .newsletter form .input-group {
    margin: 20px auto;
    width: 450px !important;
    margin-left: 16px;
    }

    .navbar-brand{
        font-size: 20px !important;
    }

    .contact h1 {
        font-size: 50px !important;
    }

    .contact .form-container {
        width: 100% !important;
    }
    .footer-credit .footer-container .confess p {
        padding: 20px;
        letter-spacing: 0.6px;
        word-spacing: 1px;
        font-size: 12px;
        line-height: 25px;
        text-align: center;
    }
}

@media (min-width: 641px) and (max-width: 1000px) {
    .navbar-brand{
        font-size: 28px !important;
    }

    .navbar-brand img{
        width: 175px;
        height: 65px;
    }
    .card{
        width: 100% !important;
    }
    /*.navbar{
        font-size: 1.75rem;
    }*/
    .ads-container{
        width: 100% !important;
        margin: 0 !important;
    }
       .ads-container img{
        height: 400px;
    }
    .d-none{
        display: block !important;
    }

    #cap1, #cap2, #cap3, #cap4, #cap5 {
    position: relative;
    top: -140px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 6.5rem;
    }

    #cap6, #cap7, #cap8, #cap9, #cap10 {
    position: relative;
    top: -130px;
    color: #f8f9fa;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    }
    .post{
        padding: 15px 15px;
    }
    .post .container{
        position: initial !important;
        left: inherit !important;
        font-size: 30px !important;
        max-width: 100% !important;
    }

    .post h4{
        font-size: 2.5rem !important;
    }

    #enter-p{
        font-size: 30px !important;
    }

    .col-lg-9{
        width: 100% !important;
    }
    .post .container img{
        width: 100% !important;
    }
     .movie-complete-details .details #thumbnail img{
        width: inherit !important;
        height: initial !important;
    }

    .fa-calendar-check {
        padding-top: 4% !important;
    }

    .fa-user-clock {
        padding-top: 4% !important;
    }

    .fa-phone {
        padding-top: 4% !important;
    }

    #own-img {
        width: 100% !important;
    }

    #img-own {
        width: 100% !important;
    }

    .newsletter form .input-group {
    margin: 20px auto;
    width: 600px;
    margin-left: 20px;
    }

    .card h5 {
        font-size: 2.0rem;
    }

}
