---
permalink: "./contact.html"
---
<!DOCTYPE html>
<html>
  <head>
    <title>DMCA - Snickerbuzz</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <meta name="title" content="DMCA - SnickerBuzz">
    <meta name="description" content="{{site.description}}">
    <meta name="url" content="{% if page.url%}{{page.url}}{% else %}{{site.baseurl}}{% endif %}">
    <meta name="image" content="{%if page.thumbnail %}{{ page.thumbnail }}{% else %}{{ site.thumbnail }}{% endif %}">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="DMCA">
    <meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - SnickerBuzz">
    <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
    <meta property="og:image" content="{%if page.thumbnail %}{{ page.thumbnail }}{% else %}{{ site.thumbnail }}{% endif %}" />
    <meta property="og:site_name" content="{{site.name}}">
    <meta property="article:publisher" content="{{site.name}}" />
    <meta property="article:author" content="{{site.author}}" />
    <meta property="article:published_time" content="{{ page.date }}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ssl -->
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  </head>
  <body>
    <!-- NavBar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ site.baseurl }}">
        <img src="images/logo.png" width="100" height="40" class="d-inline-block align-top" alt="">
        {{ site.title }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item text-left active">
            <a class="nav-link" href="{{ site.url }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item text-left active">
            <a class="nav-link" href="./hollywood.html">Hollywood</a>
          </li>
          <li class="nav-item text-left active">
            <a class="nav-link" href="./bollywood.html">Bollywood</a>
          </li>
          <li class="nav-item text-left active">
            <a class="nav-link" href="./tollywood.html">South Movies</a>
          </li>
          <li class="nav-item text-left active">
            <a class="nav-link" href="./series.html">Web Series</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item text-left active">
                <a class="nav-link" href="https://twitter.com/SyedSaquibAhma5"><i class="fab fa-twitter fa-2x"></i></a>
            </li>
            <li class="nav-item text-left active">
                <a class="nav-link" href="https://www.facebook.com/syedsaquib.ahmad786"><i class="fab fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="nav-item text-left active">
                <a class="nav-link" href="https://www.instagram.com/_saquibahmad/"><i class="fab fa-instagram fa-2x"></i></a>
            </li>
          <li class="nav-item text-left active">
            <a class="nav-link" href="./about.html">About Owner</a>
            </li>
        </ul>
      </div>
    </nav>
    <!-- contact -->
    <div class="contact">
      <div class="top-image"></div>
      <h1>Contact Us</h1>
      <div class="container">
        
        <div class="row">
          <div class="col-lg-12">
            <!-- forms -->
            <div class="form-container">
              
              <form method="POST" action="http://formspree.io/saquib.ahmad1234@gmail.com" class="form-group">
                
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                  <input class="form-control" type="text" name="Name" placeholder="Name" required="true">
                </div>
                <br>
                
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                  <input type="text" data-validation="email" name="Email Id" class="form-control" placeholder="Email" required="true">
                </div>
                <br>
                <textarea class="form-control" name="Message" cols="30" rows="10" placeholder="How may I help you."></textarea>
                
                <br>
                <button class="btn btn-primary" type="submit">submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--footer-->
    {% include footer.html%}
    
    <!--javascript-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="{{site.url}}/js/main.js"></script>
    <!--Ads-->
    <script src="//go.mobtrks.com/notice.php?p=1816245&interstitial=1"></script>
    {% include propads.html%}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121981666-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121981666-1');
    </script>
  </body>
</html> 