---

---

<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.title }}</title>
		<link rel="shortcut icon" href="images/log.png" type="image/png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
		<link rel="stylesheet" href="css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		<meta name="title" content="{{ site.title }}">
		<meta name="description" content="{{site.description}}">
		<meta name="url" content="{{site.baseurl}}">
		<meta name="image" content="{{ site.thumbnail }}">
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="Movies and Web Series">
		<meta property="og:title" content="{{ site.title }}">
		<meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
		<meta property="og:image" content="{{ site.thumbnail }}" />
		<meta property="og:site_name" content="{{site.name}}">
		<meta property="article:publisher" content="{{site.name}}" />
		<meta property="article:author" content="{{site.author}}" />
		<meta property="article:published_time" content="{{ page.date }}" />
		<meta property="og:description" content="{{ site.description }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- ssl -->
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
	</head>
	<body>
		<!-- NavBar-->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="{{ site.baseurl }}">
		    <img src="images/logo.png" width="100" height="40" class="d-inline-block align-top" alt="">
		    {{ site.title }}
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item text-left active">
		        <a class="nav-link" href="{{ site.url }}">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item text-left active">
		        <a class="nav-link" href="./hollywood.html">Hollywood</a>
		      </li>
		      <li class="nav-item text-left active">
		        <a class="nav-link" href="./bollywood.html">Bollywood</a>
		      </li>
		      <li class="nav-item text-left active">
		        <a class="nav-link" href="./tollywood.html">South Movies</a>
		      </li>
		      <li class="nav-item text-left active">
		        <a class="nav-link" href="./series.html">Web Series</a>
		      </li>
		      <li class="nav-item text-left active">
	            <a class="nav-link" href="./anime.html">Animated</a>
	          </li>
		    </ul>
		    <ul class="navbar-nav">
		    	<li class="nav-item text-left active">
	                <a class="nav-link" href="https://plus.google.com/u/1/117175866024741796922"><i class="fab fa-google-plus-g fa-2x"></i></a>
	            </li>
		    	<li class="nav-item text-left active">
		            <a class="nav-link" href="https://twitter.com/SyedSaquibAhma5"><i class="fab fa-twitter fa-2x"></i></a>
		        </li>
		        <li class="nav-item text-left active">
		            <a class="nav-link" href="https://www.facebook.com/syedsaquib.ahmad786"><i class="fab fa-facebook-square fa-2x"></i></a>
		        </li>
		        <li class="nav-item text-left active">
		            <a class="nav-link" href="https://www.instagram.com/_saquibahmad/"><i class="fab fa-instagram fa-2x"></i></a>
		        </li>
		    	<li class="nav-item text-left active">
		        <a class="nav-link" href="./about.html">About Owner</a>
		      	</li>
		    </ul>
		  </div>
		</nav>
		<!--carosoul-->
		<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselIndicators" data-slide-to="2"></li>
		    <li data-target="#carouselIndicators" data-slide-to="3"></li>
		    <li data-target="#carouselIndicators" data-slide-to="4"></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		    	<a href="./hollywood.html">
		      <img class="d-block w-100" src="images/hollywood.jpg" alt="Hollywood">
		      <div class="carousel-caption d-none d-md-block">
		      	<h1 id="cap2">Hollywood</h1>
			    <h5 id="cap7">View and download latest Hollywood movies</h5>
			  </div></a>
		    </div>
		    <div class="carousel-item">
		    	<a href="./bollywood.html">
		      <img class="d-block w-100" src="images/bollywood.jpg" alt="Bollywood">
		      <div class="carousel-caption d-none d-md-block">
		      	<h1 id="cap3">Bollywood</h1>
			    <h5 id="cap8">View and download latest Bollywood movies</h5>
			  </div></a>
		    </div>
		    <div class="carousel-item">
		    	<a href="./tollywood.html">
		      <img class="d-block w-100" src="images/south.jpg" alt="South Movies">
		      <div class="carousel-caption d-none d-md-block">
		      	<h1 id="cap4">South Movies</h1>
			    <h5 id="cap9">View and download latest South Indian movies</h5>
			  </div></a>
		    </div>
		    <div class="carousel-item">
		    	<a href="./series.html">
		      <img class="d-block w-100" src="images/service.jpg" alt="Series">
		      <div class="carousel-caption d-none d-md-block">
		      	<h1 id="cap5">Web Series</h1>
			    <h5 id="cap10">Watch latest web series and download them easily</h5>
			  </div></a>
		    </div>
		    <div class="carousel-item">
		    	<a href="./anime.html">
		      <img class="d-block w-100" src="images/anime.jpg" alt="anime movies">
		      <div class="carousel-caption d-none d-md-block">
		      	<h1 id="cap5">Animated Movies</h1>
			    <h5 id="cap10">Watch latest Animes and download them easily</h5>
			  </div></a>
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
		<!-- movies section -->
		<div class="category-title">
			<div class="row">
			  <div class="col-lg-8">
			    <h3>Hollywood Movies</h3>
			  </div>
			  <div class="col-lg-4">
				  	<div class="link">
						<a href="./hollywood.html" id="hollywood-id">view more &raquo;</a>
					</div>
			  </div>
			</div>
			</div>
			<div class="cards">
			<div class="container-fluid">
			  <div class="row">
			    <div class="col-lg-12 col-md-12 col-sm-3 col-xs-3">
			      {% for post in site.categories.Movies limit:4%}
			        <div class="cards-content">
			          <figure>
			            <span>{{post.imdb}}</span>
			            <a href="{{site.url}}/{{post.url}}"><img src="{{post.thumbnail}}" alt="{{post.title}}"></a>
			          </figure>
			          <figcaption>
			          <h4>{{post.title}}</h4>
			          <br>
			          <p>{{post.genre}}</p>
			          </figcaption>
			        </div>
			      {% endfor %}
			    </div>
			  </div>
			</div>
			</div>
			<div class="category-title">
				<div class="row">
				  <div class="col-lg-8">
				    <h3>Bollywood Movies</h3>
				  </div>
				  <div class="col-lg-4">
				  	<div class="link">
						<a href="./bollywood.html" id="bollywood-id">view more &raquo;</a>
					</div>
				  </div>
				</div>
				</div>
				<div class="cards">
				<div class="container-fluid">
				  <div class="row">
				    <div class="col-lg-12 col-md-12 col-sm-3 col-xs-3">
				      {% for post in site.categories.bollywood limit:4%}
				        <div class="cards-content">
				          <figure>
				            <span>{{post.imdb}}</span>
				            <a href="{{site.url}}/{{post.url}}"><img src="{{post.thumbnail}}" alt="{{post.title}}"></a>
				          </figure>
				          <figcaption>
				          <h4>{{post.title}}</h4>
				          <br>
				          <p>{{post.genre}}</p>
				          </figcaption>
				        </div>
				      {% endfor %}
				    </div>
				  </div>
				</div>
				</div>

				<div class="category-title">
				<div class="row">
				  <div class="col-lg-8">
				    <h3>South Indian Movies</h3>
				  </div>
				  <div class="col-lg-4">
				  	<div class="link">
						<a href="./tollywood.html" id="bollywood-id">view more &raquo;</a>
					</div>
				  </div>
				</div>
				</div>
				<div class="cards">
				<div class="container-fluid">
				  <div class="row">
				    <div class="col-lg-12 col-md-12 col-sm-3 col-xs-3">
				      {% for post in site.categories.tollywood limit:4%}
				        <div class="cards-content">
				          <figure>
				            <span>{{post.imdb}}</span>
				            <a href="{{site.url}}/{{post.url}}"><img src="{{post.thumbnail}}" alt="{{post.title}}"></a>
				          </figure>
				          <figcaption>
				          <h4>{{post.title}}</h4>
				          <br>
				          <p>{{post.genre}}</p>
				          </figcaption>
				        </div>
				      {% endfor %}
				    </div>
				  </div>
				</div>
				</div>

				<div class="category-title">
				<div class="row">
				  <div class="col-lg-8">
				    <h3>Web Series</h3>
				  </div>
				  <div class="col-lg-4">
				  	<div class="link">
						<a href="./series.html" id="bollywood-id">view more &raquo;</a>
					</div>
				  </div>
				</div>
				</div>
				<div class="cards">
				<div class="container-fluid">
				  <div class="row">
				    <div class="col-lg-12 col-md-12 col-sm-3 col-xs-3">
				      {% for post in site.categories.series limit:4%}
				        <div class="cards-content">
				          <figure>
				            <span>{{post.imdb}}</span>
				            <a href="{{site.url}}/{{post.url}}"><img src="{{post.thumbnail}}" alt="{{post.title}}"></a>
				          </figure>
				          <figcaption>
				          <h4>{{post.title}}</h4>
				          <br>
				          <p>{{post.genre}}</p>
				          </figcaption>
				        </div>
				      {% endfor %}
				    </div>
				  </div>
				</div>
				</div>

				<div class="category-title">
				<div class="row">
				  <div class="col-lg-8">
				    <h3>Animated Movies</h3>
				  </div>
				  <div class="col-lg-4">
				  	<div class="link">
						<a href="./anime.html" id="bollywood-id">view more &raquo;</a>
					</div>
				  </div>
				</div>
				</div>
				<div class="cards">
				<div class="container-fluid">
				  <div class="row">
				    <div class="col-lg-12 col-md-12 col-sm-3 col-xs-3">
				      {% for post in site.categories.anime limit:4%}
				        <div class="cards-content">
				          <figure>
				            <span>{{post.imdb}}</span>
				            <a href="{{site.url}}/{{post.url}}"><img src="{{post.thumbnail}}" alt="{{post.title}}"></a>
				          </figure>
				          <figcaption>
				          <h4>{{post.title}}</h4>
				          <br>
				          <p>{{post.genre}}</p>
				          </figcaption>
				        </div>
				      {% endfor %}
				    </div>
				  </div>
				</div>
				</div>
				
				<!--footer-->
		{% include footer.html%}
		
		<!--javascript-->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="{{site.url}}/js/main.js"></script>
		<script src="//go.mobtrks.com/notice.php?p=1816245&interstitial=1"></script>
		{% include propads.html%}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121981666-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-121981666-1');
		</script>
	</body>
</html>