---
permalink: "./series.html"

description: Check out most popular TV shows and Web Series exclusively on SnickerBuzz.

---
<!DOCTYPE html>
<html>
	<head>
		<title>Web Series - SnickerBuzz</title>
		<link rel="shortcut icon" href="images/logo.png" type="image/png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
		<link rel="stylesheet" href="css/normalize.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	    <link href="http://vjs.zencdn.net/6.2.7/video-js.css" rel="stylesheet">
	    <link rel="stylesheet" href="css/font-awesome.min.css">
	    <link rel="stylesheet" href="css/owl.carousel.min.css">
	    <link rel="stylesheet" href="css/style.css">
	    <meta name="title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{% if page.description%}{{page.description}}{% else%}{{site.description}}{% endif%}">
		<meta name="keywords" content="movies online free, snickerbuzz, snickerbuzz.com, watch free movies, watch online movies, free online streaming, los movies, full movies,
		watch films online, watch movies free online, free movies to watch, online movies free, watch movies free,
		free full movies online, movie times, movieonline, watch hd movies,
		watch HD films, Hot new movies, stream movies online free">
		<meta name="url" content="{% if page.url%}{{page.url}}{% else %}{{site.baseurl}}{% endif %}">
		<meta name="image" content="{%if page.thumbnail %}{{ page.thumbnail }}{% else %}{{ site.thumbnail }}{% endif %}">
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="post">
		<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - SnickerBuzz">
		<meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
		<meta property="og:image" content="{%if page.thumbnail %}{{ page.thumbnail }}{% else %}{{ site.thumbnail }}{% endif %}" />
		<meta property="og:site_name" content="{{site.name}}">
		<meta property="article:publisher" content="{{site.name}}" />
		<meta property="article:author" content="{{site.author}}" />
		<meta property="article:published_time" content="{{ page.date }}" />
		<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
		<!-- ssl -->
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
	      <a class="navbar-brand" href="{{ site.url }}">
	        <img src="images/logo.png" width="100" height="40" class="d-inline-block align-top" alt="">
	        {{ site.title }}
	      </a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>

	      <div class="collapse navbar-collapse" id="navbarSupportedContent">
	        <ul class="navbar-nav mr-auto">
	          <li class="nav-item text-left active">
	            <a class="nav-link" href="{{ site.url }}">Home</a>
	          </li>
	          <li class="nav-item text-left active">
	            <a class="nav-link" href="./hollywood.html">Hollywood</a>
	          </li>
	          <li class="nav-item text-left active">
	            <a class="nav-link" href="./bollywood.html">Bollywood</a>
	          </li>
	          <li class="nav-item text-left active">
		        <a class="nav-link" href="./tollywood.html">South Movies</a>
		      </li>
	          <li class="nav-item text-left active">
	            <a class="nav-link" href="./series.html">Web Series <span class="sr-only">(current)</span></a>
	          </li>
	        </ul>
	        <ul class="navbar-nav">
	          <li class="nav-item text-left active">
	                <a class="nav-link" href="https://twitter.com/SyedSaquibAhma5"><i class="fab fa-twitter fa-2x"></i></a>
	            </li>
	            <li class="nav-item text-left active">
	                <a class="nav-link" href="https://www.facebook.com/syedsaquib.ahmad786"><i class="fab fa-facebook-square fa-2x"></i></a>
	            </li>
	            <li class="nav-item text-left active">
	                <a class="nav-link" href="https://www.instagram.com/_saquibahmad/"><i class="fab fa-instagram fa-2x"></i></a>
	            </li>
	          <li class="nav-item text-left active">
	            <a class="nav-link" href="./about.html">About Owner</a>
	            </li>
	        </ul>
	        
	      </div>
	    </nav>
		<!-- movie carosoul-->
		<div class="top-header">
		  <div class="owl-carousel">
		    {% for post in site.categories.series limit:10%}
		      <div class="image-container">
		        <img src="{{post.thumbnail}}" alt="{{post.title}}">
		        <a href="{{site.url}}/{{post.url}}"><div class="movie-details">
		          <div class="detail-list">
		            <h1 class="title">{{post.title}}</h1>
		            <p class="imdb">IMDB : {{post.imdb}}/10</p>
		            <p class="genre">Genre : {{post.genre}}</p>
		            <h2 class="description">{{post.description}}</h2>
		          </div>
		        </div>
		      </a>
		    </div>
		  {% endfor %}
			</div>
		</div>

		<!--Movies-->
		<div class="category-title">
		<div class="row">
		  <div class="col-lg-12">
		    <h3>Web Series</h3>
		  </div>
		</div>
		</div>
		<div class="cards">
		<div class="container-fluid">
		  <div class="row">
		    <div class="col-lg-12">
		      {% for post in site.categories.series%}
		        <div class="cards-content">
		          <figure>
		            <span>{{post.imdb}}</span>
		            <a href="{{site.url}}/{{post.url}}"><img src="{{post.thumbnail}}" alt="{{post.title}}"></a>
		          </figure>
		          <figcaption>
		          <h4>{{post.title}}</h4>
		          <br>
		          <p>{{post.genre}}</p>
		          </figcaption>
		        </div>
		      {% endfor %}
		    </div>
		  </div>
		</div>
		</div>
		
		<!--javascript-->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="js/owl.carousel.min.js" charset="utf-8"></script>
		<script src="js/search.js" charset="utf-8"></script>
		<script src="js/main.js" charset="utf-8"></script>
		<script src="http://vjs.zencdn.net/6.2.7/video.js"></script>
		<script src="https://unpkg.com/videojs-flash/dist/videojs-flash.js"></script>
		<script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59b2315608b86ac1"></script>
		<script src="//go.mobtrks.com/notice.php?p=1816245&interstitial=1"></script>
		{% include propads.html%}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121981666-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-121981666-1');
		</script>
	</body>
</html>