<div class="newsletter" style="margin-top: 40px;">
		  <div class="container-footer">
		    <div class="row">
		      <div class="col-lg-12">
		        <div class="top-container">
		          <span class="sub"><i class="fas fa-file" aria-hidden="true"></i></span>
		          <span class="plus"><i class="fas fa-plus" aria-hidden="true"></i></span>
		          <span class="sub"><i class="fas fa-envelope" aria-hidden="true"></i></span>
		          <span class="plus"><i class="fas fa-plus" aria-hidden="true"></i></span>
		          <span class="sub"><i class="fab fa-telegram-plane" aria-hidden="true"></i></span>
		        </div>
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-lg-12">
		        <h3>Subscribe to get the latest updates of Movies and Tv Shows</h3>
		        No spam, we promise
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-lg-12 col-md-6 col-sm-3 col-xs-3">
		        <form action="https://formspree.io/saquib.ahmad9898@gmail.com" method="POST">
		          <div class="input-group">
		            <input class="form-control" type="text" name="Email-Id" id="subscription" required="true">
		            <button class="btn input-group-addon" type="submit"><i class="fas fa-envelope" aria-hidden="true"></i></button>
		          </div>
		        </form>
		      </div>
		    </div>
		  </div>
		</div>


		<!-- footer credit -->
<footer>
  <div class="footer-credit" id="footer-credit">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-container">
            <div class="confess">
              <p><span><i class="fas fa-quote-left" aria-hidden="true"></i></span>We do not host any of the video content. Links are available on many others website on the Internet. We do not engage in copying or uploading videos to any website. We index the links which are already available on the internet mostly on the popular hosting sources like YouTube and other different websites. We are not responsible for video content hosted on third party websites nor any links on the others websites. Therefore, Copyright infringement notices should be directed to the responsible third party websites where the content is actually hosted. If you believe that any of the content above, links to content that infringes your copyright, please contact the respective third party websites for removal of your content off the internet. If you want us to remove particular link, please contact us.<span><i class="fas fa-quote-right" aria-hidden="true"></i></span></p>
            </div>
            
            <div class="footer-links">
              <ul>
                <li><a href="{{site.baseurl}}/./dmca.html">DMCA</a></li>
                <li><a href="{{site.baseurl}}/./contact.html">contact</a></li>
              </ul>
              <hr>
              <div class="copy-claim">
                <p>&copy; 2018 SnickerBuzz</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>