<table class="table">
  <thead class="thead-default">
    <tr>
      <div class="table-header">
        <th>#</th>
        <th>Server</th>
        <th>Quality</th>
        <th>Stream</th>
        <th>Download</th>
      </div>
    </tr>
  </thead>
  <tbody>
    <!-- First-Row -->
    {% if page.index1 == 1 %}
      <tr>
        <th scope="row">{{page.index1}}</th>
        <td><i class="fa fa-server" aria-hidden="true"></i> <span class="text"> server 1</span></td>
        <td>{{page.quality1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server1}}"><span><i class="fa fa-steam" aria-hidden="true"></i></span> <span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server1}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span>  <span class="text">download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Second-Row -->
    {% if page.index2 == 2 %}
      <tr>
        <th scope="row">{{page.index2}}</th>
        <td><i class="fa fa-server" aria-hidden="true"></i><span class="text"><span class="text">   server 2</span></td>
        <td>{{page.quality2}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server2}}"><span><i class="fa fa-steam" aria-hidden="true"></i></span> <span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server2}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span>  <span class="text">download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Third-Row -->
    {% if page.index3 == 3 %}
      <tr>
        <th scope="row">{{page.index3}}</th>
        <td><i class="fa fa-server" aria-hidden="true"></i><span class="text"><span class="text">   server 3</span></td>
        <td>{{page.quality3}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server3}}"><span><i class="fa fa-steam" aria-hidden="true"></i></span>  <span class="text">stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server3}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span>  <span class="text">download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>