<table class="table">
  <thead class="thead-default">
    <tr>
      <div class="table-header">
        <th>#</th>
        <th>Episode</th>
        <th>Season</th>
        <th>Stream</th>
        <th>Download</th>
      </div>
    </tr>
  </thead>
  <tbody>
    <!-- First-Row -->
    {% if page.index1 == 1 %}
      <tr>
        <th scope="row">{{page.index1}}</th>
        <td>{{page.episode1}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server1}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span> <span class="text">stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server1}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Second-Row -->
    {% if page.index2 == 2 %}
      <tr>
        <th scope="row">{{page.index2}}</th>
        <td>{{page.episode2}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server2}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server2}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> <span class="text">download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Third-Row -->
    {% if page.index3 == 3 %}
      <tr>
        <th scope="row">{{page.index3}}</th>
        <td>{{page.episode3}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server3}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span> <span class="text">stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server3}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> <span class="text">download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Fourth-Row -->
    {% if page.index4 == 4 %}
      <tr>
        <th scope="row">{{page.index4}}</th>
        <td>{{page.episode4}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server4}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span> <span class="text">stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server4}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> <span class="text">download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Fifth-Row -->
    {% if page.index5 == 5 %}
      <tr>
        <th scope="row">{{page.index5}}</th>
        <td>{{page.episode5}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server5}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server5}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- sixth-Row -->
    {% if page.index6 == 6 %}
      <tr>
        <th scope="row">{{page.index6}}</th>
        <td>{{page.episode6}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server6}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server6}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- seventh-Row -->
    {% if page.index7 == 7 %}
      <tr>
        <th scope="row">{{page.index7}}</th>
        <td>{{page.episode7}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server7}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server7}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Eighth-Row -->
    {% if page.index8 == 8 %}
      <tr>
        <th scope="row">{{page.index8}}</th>
        <td>{{page.episode8}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server8}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server8}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Ninth-Row -->
    {% if page.index9 == 9 %}
      <tr>
        <th scope="row">{{page.index9}}</th>
        <td>{{page.episode9}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server9}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server9}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Tenth-Row -->
    {% if page.index10 == 10 %}
      <tr>
        <th scope="row">{{page.index10}}</th>
        <td>{{page.episode10}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server10}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server10}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Evenlenth-Row -->
    {% if page.index11 == 11 %}
      <tr>
        <th scope="row">{{page.index11}}</th>
        <td>{{page.episode11}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server11}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server11}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Tweleth-Row -->
    {% if page.index12 == 12 %}
      <tr>
        <th scope="row">{{page.index12}}</th>
        <td>{{page.episode12}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server12}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server12}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Thirteenth-Row -->
    {% if page.index13 == 13 %}
      <tr>
        <th scope="row">{{page.index13}}</th>
        <td>{{page.episode13}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server13}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server13}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- fourteen-Row -->
    {% if page.index14 == 14 %}
      <tr>
        <th scope="row">{{page.index14}}</th>
        <td>{{page.episode14}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server14}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server14}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- fifteenth-Row -->
    {% if page.index15 == 15 %}
      <tr>
        <th scope="row">{{page.index15}}</th>
        <td>{{page.episode15}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server15}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server15}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>