<table class="table">
  <thead class="thead-default">
    <tr>
      <div class="table-header">
        <th>#</th>
        <th>Episode</th>
        <th>Season</th>
        <th>Stream</th>
        <th>Download</th>
      </div>
    </tr>
  </thead>
  <tbody>
    <!-- First-Row -->
    {% if page.index1 == 1 %}
      <tr>
        <th scope="row">{{page.index1}}</th>
        <td>{{page.episode1}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server1}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span> <span class="text">stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server1}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Second-Row -->
    {% if page.index2 == 2 %}
      <tr>
        <th scope="row">{{page.index2}}</th>
        <td>{{page.episode2}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server2}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server2}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> <span class="text">download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Third-Row -->
    {% if page.index3 == 3 %}
      <tr>
        <th scope="row">{{page.index3}}</th>
        <td>{{page.episode3}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server3}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span> <span class="text">stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server3}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> <span class="text">download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Fourth-Row -->
    {% if page.index4 == 4 %}
      <tr>
        <th scope="row">{{page.index4}}</th>
        <td>{{page.episode4}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server4}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span> <span class="text">stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server4}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> <span class="text">download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Fifth-Row -->
    {% if page.index5 == 5 %}
      <tr>
        <th scope="row">{{page.index5}}</th>
        <td>{{page.episode5}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server5}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server5}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- sixth-Row -->
    {% if page.index6 == 6 %}
      <tr>
        <th scope="row">{{page.index6}}</th>
        <td>{{page.episode6}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server6}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server6}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- seventh-Row -->
    {% if page.index7 == 7 %}
      <tr>
        <th scope="row">{{page.index7}}</th>
        <td>{{page.episode7}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server7}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server7}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Eighth-Row -->
    {% if page.index8 == 8 %}
      <tr>
        <th scope="row">{{page.index8}}</th>
        <td>{{page.episode8}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server8}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server8}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Ninth-Row -->
    {% if page.index9 == 9 %}
      <tr>
        <th scope="row">{{page.index9}}</th>
        <td>{{page.episode9}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server9}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server9}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Tenth-Row -->
    {% if page.index10 == 10 %}
      <tr>
        <th scope="row">{{page.index10}}</th>
        <td>{{page.episode10}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server10}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server10}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Evenlenth-Row -->
    {% if page.index11 == 11 %}
      <tr>
        <th scope="row">{{page.index11}}</th>
        <td>{{page.episode11}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server11}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server11}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Tweleth-Row -->
    {% if page.index12 == 12 %}
      <tr>
        <th scope="row">{{page.index12}}</th>
        <td>{{page.episode12}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server12}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server12}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- Thirteenth-Row -->
    {% if page.index13 == 13 %}
      <tr>
        <th scope="row">{{page.index13}}</th>
        <td>{{page.episode13}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server13}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server13}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- fourteen-Row -->
    {% if page.index14 == 14 %}
      <tr>
        <th scope="row">{{page.index14}}</th>
        <td>{{page.episode14}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server14}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server14}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- fifteenth-Row -->
    {% if page.index15 == 15 %}
      <tr>
        <th scope="row">{{page.index15}}</th>
        <td>{{page.episode15}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server15}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server15}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- sixteenth-Row -->
    {% if page.index16 == 16 %}
      <tr>
        <th scope="row">{{page.index16}}</th>
        <td>{{page.episode16}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server16}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server16}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- seventeenth-Row -->
    {% if page.index17 == 17 %}
      <tr>
        <th scope="row">{{page.index17}}</th>
        <td>{{page.episode17}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server17}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server17}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- eighteenth-Row -->
    {% if page.index18 == 18 %}
      <tr>
        <th scope="row">{{page.index18}}</th>
        <td>{{page.episode18}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server18}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server18}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- nineteenth-Row -->
    {% if page.index19 == 19 %}
      <tr>
        <th scope="row">{{page.index19}}</th>
        <td>{{page.episode19}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server19}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server19}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- twenty-Row -->
    {% if page.index20 == 20 %}
      <tr>
        <th scope="row">{{page.index20}}</th>
        <td>{{page.episode20}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server20}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server20}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- twenty one-Row -->
    {% if page.index21 == 21 %}
      <tr>
        <th scope="row">{{page.index21}}</th>
        <td>{{page.episode21}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server21}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server21}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- twenty two-Row -->
    {% if page.index22 == 22 %}
      <tr>
        <th scope="row">{{page.index22}}</th>
        <td>{{page.episode22}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server22}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server22}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- twenty three-Row -->
    {% if page.index23 == 23 %}
      <tr>
        <th scope="row">{{page.index23}}</th>
        <td>{{page.episode23}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server23}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server23}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- fifteenth-Row -->
    {% if page.index15 == 15 %}
      <tr>
        <th scope="row">{{page.index15}}</th>
        <td>{{page.episode15}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server15}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server15}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
    <!-- fifteenth-Row -->
    {% if page.index15 == 15 %}
      <tr>
        <th scope="row">{{page.index15}}</th>
        <td>{{page.episode15}}</td>
        <td>{{page.season1}}</td>
        <td>
          <div class="stream-options">
            <a href="{{page.server15}}"><span><i class="fas fa-stream" aria-hidden="true"></i></span><span class="text"> stream</span></a>
          </div>
        </td>
        <td>
          <div class="download-options">
            <a href="{{page.server15}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span><span class="text"> download</span></a>
          </div>
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>